/* Basic reset and smooth scrolling */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Full-height sections */
.section {
    padding-top: 120px; /* Increase top padding to push content below the navbar */
    padding-bottom: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdddf; 
    width: 100%;
}

/* Section Background Colors */
#section1 {
    background-color: #dcdddf;
}

#section2 {
    background-color: #939add;
}
.container {
    max-width: 960px;
}
/* Navbar Custom Styles */
.navbar {
    transition: background-color 0.3s ease;
}

.navbar-light {
    background-color: #dcdddf !important;
}

.navbar-dark {
    background-color: #939add !important;
}
/* Custom Image Styling */
.custom-img {
    max-width: 60%; /* Further reduce image width */
    height: auto;
    margin-top: 20px; /* Space between text and image */
}
/* Responsive Image Adjustment */
@media (max-width: 768px) {
    .custom-img {
        max-width: 90%; /* Image takes up more space on smaller screens */
    }
}

/* Adjust Text Spacing */
h1, h3, p {
    margin-bottom: 20px;
    left: 0px;
}
